.Navbar
{
    background-color: #01071a;
}
.navlink
{
    color: #ffd942;
}
.brand
{
    color: #ffd942;
    padding-left: 200px;
    padding-right: 50px;
}
.nav-item
{
    padding-left: 50px;
}
.toggler
{
    color: #ffd942;
    background-color: #ffd942;
}
.icomn
{
    margin-left: 50px;
}

.carousel1
{
    margin-bottom: 20px;
}